<div class="row">
    <div class="col-md-12">
        <hr />
        <div class="table-responsive" id="contDiv">
            <table class="table ">
                <thead>
                    <tr>
                        {{#if error}}
                            <th><h3 class="text-center">Email not sent</h3></th>
                            <th><h3 class="text-center">{{error}}</h3></th>
                        {{else}}
                            <th><h3 class="text-center">Email sent</h3></th>
                        {{/if}}
                    </tr>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>